.searchDiv{
    display: flex;
    flex-direction: column;
}

.searchDiv form{
    background-color: red;
    display: flex;
    align-self: center;
    margin-top: 20px;
    
}

.searchDiv form input{
    padding: 10px;
}

.displaySearchMsg{
    padding-left: 10px;
    font-weight: 600;
}